
:root{ --main-color: hsl(345, 90%, 60%);

  /* text colors */
  --text-dark-gray: hsl(0, 0%, 25%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-black: hsl(0, 0%, 0%);

  /* bg colors */
  --bg-light-yellow: hsl(42, 26%, 77%);
  --bg-x-light-yellow: hsl(42, 40%, 87%);
  --bg-green: hsl(167, 57%, 52%);
  --bg-purple: hsl(253, 79%, 77%);

  /* border colors */
  --border-dark: hsla(0, 0%, 0%, 0.1);
  --border-x-dark: hsla(0, 0%, 0%, 0.7);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,600;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-light-yellow);
    color: var(--text-black);
}

::before,::after{
    box-sizing: border-box;
}

:root{
    --cardwidth: 300px;
    --cardheight: 150px; 
    --bgwidth:288px;
    --bgheight:238px;
    --section-p: 80px;
}
.container{
    max-width: 100dvw;
    margin: auto;
    padding: 0 15px;
}

/* section styling start*/
section , .top{
    display: flex;
    justify-content: center;
    flex-flow: column;
}
/* section styling end*/

.cent {
  display: flex;
    justify-content: center;
    flex-flow: column;
}

div h1, div h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--text-x-dark-gray);
}
/* card area */
.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: var(--bg-x-light-yellow);
    border: 1px solid var(--text-black);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.card-div{
    display: flex;
    flex-flow: column wrap;
    height: 25rem;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}

.our{
    width: 40dvw;
    height: 40%;
    margin-bottom: 5%;
}

.card h2{
    font-size: 3.5vw;    
}

.card h1{
    font-size: 7vw;    
}

@media (min-width:600px){
    .our{
        margin: 20px;
        width: 30dvw;
    }
}
@media (max-width:600px){
    .our{
        margin-left: 10px;
    }
    .card-div{
        padding-left: 0px;
    }
    .container {
        padding: 0;
    }
    .title h1{
      margin: 1rem;
      font-size: 8dvw;
    }
}
@media (min-width:600px){
    .card h1{
        font-size: 4vw;    
    }
}



/* button section start */
.button {
    align-items: center;
    appearance: none;
    border-radius: 8px;
    border-width: 2px;
    box-sizing: border-box;
    color: var(--text-black);
    background-color: var(--bg-x-light-yellow);
    border-color: var(--text-black);
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 56px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
    margin: 5px;
  }
  
  .button:focus {
    outline: none;
    
  }
  
  .button:hover {
    
    transform: translateY(-2px);
  }
  
  .button:active {
    
    transform: translateY(2px);
  }

  .buttons-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .active-b{
    color: var(--text-black);
    background-color: var(--main-color);
    border-color: var(--text-black);

  }


/* button section ends */

#al-stage {
  display: none;
}

#gn-stage {
  display: none;
}

/* table section start */
table, td, th {
    border: 1px solid;
  }
  
table {
    width: 90dvw;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-black);
}

.table-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

table             { 
    border-spacing: 1; 
    border-collapse: collapse; 
    background:var(--bg-x-light-yellow);
    border-radius:6px;
    overflow:hidden;
    max-width:1100px;
    width:95%;
    margin:0 auto;
    position:relative;
    
    *               { position:relative }
    
    td,th           { padding-left:8px}
  
    thead tr        { 
      height:60px;
      background:var(--main-color);
      font-size:16px;
    }
    
    tbody tr        { height:48px; border-bottom:1px solid var(--text-black) ;
      &:last-child  { border:0; }
    }
    
    td,th           { text-align:left;
      &.l           { text-align:right }
      &.c           { text-align:center }
      &.r           { text-align:center }
    }
}
#aliya{
  display: none;
}
#general{
  display: none;
}

#tb-th-off{
  display: none;
}
#tb-al-on, #tb-al-off {
  display: none;
}
#tb-gn-on, #tb-gn-off{
  display: none;
}

@media (max-width : 600px) {
  table{
    margin-left: 10px;
    margin-right: 10px;
  }
}


/* tv section */
@media (min-width : 1400px) {
  .our {
    width: 20dvw;
    height: 80%;
  }

  .card-div {
    padding: 0;
  }

  .container {
    max-width: 95dvw;
  }
  .button {
    height: 7dvh;
    font-size: 1.3dvw;
    margin: 8px;
  }
  .buttons-div {
    margin: 10px 0 5px 0;
  }
  .table-div {
    width: 90dvw;
    margin-left: 5dvw;
  }
  table {
    max-width: -webkit-fill-available;
    border-radius: 12px;
  }
  table th {
    user-select: none;
    font-size: 1.5dvw;
  }
  table td {
    user-select: none;
    font-size: 1.3dvw;
  }
  table thead tr {
    height: 7dvh;
  }
  table tbody tr {
    height: 6dvh;
  }
  th , td {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 2100px) {
  .our {
    height: 100%;
  }

  .card-mng {
    padding-top: 5dvh;
  }

  .container {
    max-width: 100dvw;
  }
}

