
/* # fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@font-face {
  font-family: Anek-Malayalam;
  src: url(../webfonts/AnekMalayalam-VariableFont_wdth\,wght.ttf);
}
/* # variables */
:root{
  --main-color: #f6ab06;

  /* text colors */
  --text-dark-gray: hsl(0, 0%, 0%);
  --text-x-dark-gray: hsl(0, 0%, 0%);
  --text-black: hsl(0, 0%, 0%);

  /* bg colors */
  --bg-light-yellow: #f6ab06;
  --bg-x-light-yellow: #FFFFFF;
  --bg-orange: #f6ab06;
  --bg-grey: #393939;

  /* border colors */
  --border-dark: hsla(0, 0%, 0%, 0.1);
  --border-x-dark: hsla(0, 0%, 0%, 0.7);

  /* font family */
  --ff-carter-one: 'Poppins', sans-serif;

  /* font size */
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 22px;
  --fs-2xl: 28px;
  --fs-3xl: 3vh;
  --fs-4xl: 4vh;
  --fs-body: var(--fs-md);

  /* padding */
  --section-py: 80px;
}

@media(max-width: 991px){
  :root{
    /* font size */
    --fs-2xl: 24px;
  }
}
@media(max-width: 767px){
  :root{
    /* font size */
    --fs-lg: 16px;
    --fs-xl: 20px;

    /*section padding*/
    --section-py: 50px;
  }
}
/* # base */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: var(--fs-body);
  background-color: var(--bg-x-light-yellow);
  color: var(--text-dark-gray);
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  color: var(--text-x-dark-gray);
}

a {
  text-decoration: none;
  color: var(--bg-grey);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

p + p {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

::selection {
  color: var(--text-black);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-x-light-yellow);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-grey);
}

/* # page wrapper */
.page-wrapper {
  overflow: hidden;
}

/* # container */
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
/* # section header */
.section-header {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 70px;
}

.section-header-title {
  font-size: var(--fs-3xl);
  font-weight: 700;
  color: var(--text-x-dark-gray);
  text-transform: uppercase;
  font-family: var(--ff-carter-one);

}

@media(max-width: 767px){
  .section-header{
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
@media(min-width: 1100px){
  .section-header-title {
    font-size: 5vh;
  }
}
/* # aos */
[data-aos="fade-up"]{
  transform: translate3d(0, 50px, 0);
}
[data-aos="reveal-left"]{
  clip-path: inset(0 100% 0 0);
}
[data-aos="reveal-left"].aos-animate{
  clip-path: inset(0);
}
/* # text animation */
.word {
  overflow: hidden;
  vertical-align: bottom;
}

.word .char:nth-child(1){
  text-transform: uppercase;
}

[data-aos="text-animation"] .char{
  transform: translateY(100%);
  transition: transform 1.2s cubic-bezier(.455, .03, .515, .955);
}

[data-aos="text-animation"].aos-animate .char{
  transform: translateY(0);
  transition-delay: calc(0.05s * var(--char-index));
}
/* # btn */
.btn {
  display: inline-block;
  padding: 10px 28px;
  background-color: var(--main-color);
  color: var(--text-black);
  font-weight: 500;
  font-size: var(--fs-body);
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1.5;
  font-family: inherit;
  user-select: none;
  z-index: 1;
  position: relative;
  border: none;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 1px solid var(--main-color);
  transform: translate(5px, 5px);
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn:hover::after {
  transform: translate(0, 0);
}
/* # preloader */
.preloader{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-bg{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.preloader .bg-item{
  width: 10%;
  background-color: var(--bg-x-light-yellow);
  transition: transform 1s cubic-bezier(.7, .11, .21, .91);
  transform-origin: right;
}

.preloader.loaded .bg-item{
  transform: scaleX(0);
  transition-delay: 0.1s;
}

.preloader-items{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: scale(0.25);
}

.preloader.loaded .preloader-items{
  transition: opacity 0.5s ease;
  opacity: 0;
}

.preloader-item{
  height: 50px;
  width: 50px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
 animation: preloader 1s linear infinite;
}

.preloader-item:nth-child(1){
  left: calc(50% - 25px);
  top: 0;
  --translate-x: 0;
  --translate-y: -50px;
  --origin-x1: center;
  --origin-y1: 150px;
  --origin-x2: center;
  --origin-y2: 100px;
}

.preloader-item:nth-child(2){
  right: 0;
  top: calc(50% - 25px);
  --translate-x: 50px;
  --translate-y: 0;
  --origin-x1: -100px;
  --origin-y1: center;
  --origin-x2: -50px;
  --origin-y2: center;
}

.preloader-item:nth-child(3){
  left: calc(50% - 25px);
  bottom: 0;
  --translate-x: 0;
  --translate-y: 50px;
  --origin-x1: center;
  --origin-y1: -100px;
  --origin-x2: center;
  --origin-y2: -50px;
}

.preloader-item:nth-child(4){
  left: 0;
  top: calc(50% - 25px);
  --translate-x: -50px;
  --translate-y: 0;
  --origin-x1: 150px;
  --origin-y1: center;
  --origin-x2: 100px;
  --origin-y2: center;
}

@keyframes preloader{
  50%{
    transform: translate(var(--translate-x), var(--translate-y));
    transform-origin: var(--origin-x1) var(--origin-y1);
  }
  100%{
    transform: rotate(180deg);
    transform-origin: var(--origin-x2) var(--origin-y2);
  }
}

/* # header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 18px 0;
  background-color: var(--bg-x-light-yellow);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--text-x-dark-gray);
}

.header-logo span {
  text-transform: capitalize;
  color: var(--bg-light-yellow);
}

.header-toggler {
  display: none;
}

.header-menu li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.header-menu  a {
  display: block;
  color: var(--text-x-dark-gray);
  transition: color 0.3s ease;
  font-weight: 400;
  text-transform: uppercase;
}
.dash::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--text-x-dark-gray);
  border-radius: 5px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}
.dash:hover::before{
  transform: scaleX(1);
}

.header-menu a:hover{
  color: var(--bg-light-yellow);
}

@media(max-width:991px ){
  .header{
    padding: 12px 0;
  }
  .header-toggler{
    height: 34px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: 1;
    background-color: transparent;
  }
  .header-toggler span{
    height: 2px;
    width: 80%;
    background-color: var(--bg-light-yellow);
    position: relative;
    transition: background-color 0.3s ease;
  }
  .header-toggler span::before,
  .header-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-light-yellow);
    transition: transform 0.3s ease;
  }
  .header-toggler span::before{
    transform: translateY(-8px);
  }
  .header-toggler span::after{
    transform: translateY(8px)
  }
  .header-toggler.active span{
    background-color: transparent;
  }
  .header-toggler.active span::before{
    transform: rotate(45deg);
  }
  .header-toggler.active span::after{
    transform: rotate(-45deg);  
  }
  .header-menu{
    position: fixed;
    width: 250px;
    background-color: var(--bg-x-light-yellow);
    top: 0;
    right: 0;
    height: 100%;
    padding: 60px 0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .header-menu.open{
    transform: translateX(0);
  }
  .header-menu li{
    display: block;
    margin: 0;
  }
  .header-menu a{
    padding: 8px 15px;
  }

}
/* # home */
.home {
  padding: 180px 0 120px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}

.home-title {
  font-size: var(--fs-4xl);
  margin: 0 0 50px;
  color: var(--bg-grey);
  font-family: var(--ff-carter-one);
  text-transform: uppercase;;
}

.logo1{
  width: 27vh;
  margin-bottom: -6vh;
}


.home-box {
  height: 400px;
  max-width: 400px;
  margin: auto;
  position: relative;
}

.home-decor {
  background-color: var(--bg-orange);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.home-img-box1,
.home-img-box2 {
  position: absolute;
}

.home-img-box1 {
  width: 250px;
  left: 0;
  top: 0;
  transform: translate(-20%, -20%);
}

.home-img-box2 {
  width: 220px;
  right: 0;
  bottom: 0;
  transform: translate(20%, 20%);
}

@media(max-width: 991px){
  .home{
    padding: 140px 0 80px;
  }
  .home-box{
    max-width: 280px;
  }
}

@media(max-width: 767px){
  .home{
    padding: 235px 0 0px;
  }
  .home-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 150px;
  }

  .home-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-title {
    text-align: center;
  }
  /* .home-right{
    order: -1;
  } */
  .home-box{
    height: 320px;
  }
  .home-img-box1{
    max-width: 200px;
  }
  .home-img-box2{
    max-width: 180px;
  }
}

@media(max-width:575px){
  .home-box{
    height: 270px;
    max-width: 250px;
  }
  .home-img-box1,
  .home-img-box2{
    max-width: 150px;
  }
}

@media(min-width:1100px){
  .home-title{
    font-size: 7vh;
  }
  .logo1{
    width: 47vh;
    margin-bottom: -10vh;
  }
}
/* # about */
.about {
  padding: 0;
}

.about-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
}

.about .section-header {
  grid-column: 2 / 3;
  margin-bottom: 20px;
  text-align: left;
}

.about-img-box {
  max-width: 400;
  margin: auto;
  position: relative;
}

.about-decor1,
.about-decor2 {
  position: absolute;
  height: 100px;
  width: 200px;
  z-index: -1;
}

.about-decor1 {
  background-color: var(--bg-grey);
  left: -40px;
  top: -40px;
}

.about-decor2 {
  background-color: var(--bg-orange);
  right: -40px;
  bottom: -40px;
}

.about-btn {
  margin-top: 30px;
}

.about-text p{
  font-family: 'Anek-Malayalam';
  font-weight: 400;
  font-size: 2.1vh;
}

@media(max-width: 991px){
  .about-img-box{
    max-width: 280px;
  }
}

@media(max-width: 767px){
  .about-content{
    grid-template-columns: repeat(1, 1fr);
  }
  .about .section-header{
    grid-column: 1 / 2;
    text-align: center;
  }
  .about-img-box{
    margin: 50px auto 70px;
  }
}
/* # guests */
.performers {
  padding: var(--section-py) 0;
}

.performers-items {
  max-width: 250px;
  margin: auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: center;
}
.performers-items2 {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.performers-item {
  position: relative;
}



.performers-info {
  padding: 5px 10px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -5px;
  z-index: 1;
}

.performers-backdrop {
  background-color: var(--bg-orange);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.performers-name {
  color: var(--text-x-dark-gray);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
}

.performers-job {
  text-transform: capitalize;
  font-size: 10px;
  text-align: center;
}

@media(max-width: 575px){
  .performers-items{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    margin-bottom: 0;
    max-width: 170px;
  }
  .performers-items2{
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  .performers-item {
    margin-bottom: 15px;
  }
 
  .performers-info {
    padding: 2px 3px;
    left: 8px;
    bottom: -5px;
    width: 90%;
  }
}
@media(max-width: 499px){
  .performers-name {
    font-size: 10px;
  }
  
  .performers-job {
    font-size: 7px;
  }
}
/* # schedule */


.schedule-tabs {
  text-align: center;
  display: none;
}
.onoff-tabs {
  text-align: center;
}

.schedule-content {
  display: none;
}

.schedule-tab {
  background-color: transparent;
  border: 1px solid var(--border-x-dark);
  border-radius: 5px;
  padding: 5px 30px;
  color: var(--text-black);
  text-transform: uppercase;
  margin: 0 5px 10px;
  font-size: var(--fs-body);
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s ease;
}
.schedule-tabe {
  background-color: transparent;
  border: 1px solid var(--border-x-dark);
  border-radius: 5px;
  padding: 5px 30px;
  color: var(--text-black);
  text-transform: uppercase;
  margin: 0 5px 10px;
  font-size: var(--fs-body);
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s ease;
}
.schedule2-tab {
  background-color: transparent;
  border: 1px solid var(--border-x-dark);
  border-radius: 5px;
  padding: 5px 30px;
  color: var(--text-black);
  text-transform: uppercase;
  margin: 0 5px 10px;
  font-size: var(--fs-body);
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s ease;
}

.schedule-tab.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.schedule-tabe.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.schedule2-tab.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.schedule-tab span{
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.schedule-tabe span{
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.schedule2-tab span{
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.schedule-table {
  border-collapse: collapse;
  width: 100%;
  display: none;
}
.schedule2-table {
  border-collapse: collapse;
  width: 100%;
  display: none;
}

.schedule-table.active {
  display: table;
  animation: schedule-table 0.5s ease;
}
.schedule2-table.active {
  display: table;
  animation: schedule-table 0.5s ease;
}

@keyframes schedule-table {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes schedule2-table {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.schedule-table tr:nth-child(even){
  background-color: var(--bg-light-yellow);
}
.schedule2-table tr:nth-child(even){
  background-color: var(--bg-light-yellow);
}

.schedule-table td,
.schedule-table th{
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
.schedule2-table td,
.schedule2-table th{
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}

.schedule-table span{
  display: inline-block;
}
.schedule2-table span{
  display: inline-block;
}

@media(max-width: 575px){
  .schedule-table td,
  .schedule-table th{
    font-size: 10px;
  }
}
@media(max-width: 575px){
  .schedule2-table td,
  .schedule2-table th{
    font-size: 10px;
  }
}

/* Add a new class for hiding/showing buttons */
.hidden {
  display: none;
}

/* Add a new class for arrow buttons */
.arrow-btn {
  cursor: pointer;
  color: var(--main-color);
  border: none;
  background-color: var(--bg-x-light-yellow);
  font-size: 20px;
}

/* # contact */
.contact {
  padding: var(--section-py) 0;
}

.contact-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.contact-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
}

.contact-item i{
  height: 50px;
  width: 50px;
  background-color: var(--bg-light-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item h3{
  margin-bottom: 8px;
  color: var(--text-x-dark-gray);
  text-transform: capitalize;
  font-size: var(--fs-xl);
  font-weight: 500;
}

.contact-form {
  margin-top: 50px;
}

.contact-form .col-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
}

.contact-form .input-box{
  margin-bottom: 30px;
}

.contact-form .input::placeholder{
  color: var(--text-dark-gray);
  text-transform: uppercase;
  opacity: 1;
}

.contact-form .input{
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-x-dark);
  font-size: var(--fs-body);
  font-family: inherit;
  color: var(--text-x-dark-gray);
}

.contact-form .input:focus{
  outline: none;
}

.contact-form .input-message{
  display: block;
  height: 120px;
  resize: none;
}

.input-box .error-text {
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  margin-top: 3px;
  display: none;
}

.input-box.error .error-text {
  display: block;
}

@media(max-width: 767px){
  .contact-items{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 575px){
  .contact-form .col-2{
    grid-template-columns: repeat(1, 1fr);
  }
}
/* # footer */
.footer {
  border-top: 1px solid var(--border-dark);
  padding: 15px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  margin: 15px 15px 15px 0;
}

.footer-social a{
  height: 40px;
  width: 40px;
  border: 1px solid var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
  color: var(--bg-grey);
}

.footer-social a:hover{
  background-color: var(--main-color);
  color: var(--text-black);
}
