/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: Anek-Malayalam;
    src: url(../webfonts/AnekMalayalam-VariableFont_wdth\,wght.ttf);
}

/* Variables */
:root {
    /* bg colors */
    --bg-black: #FFFFFF;
    --bg-dark-gray: #f6ab06;

    /* border colors */
    --border-color: hsl(0, 0%, 100%);

    /* text color */
    --text-color: hsl(0, 0%, 0%);

    /* fonts */
    --font-size-head: clamp(27px, 4vw, 50px);
    --font-size-image: ;
    --font-size-mem: 15px;
    --font-size-btn: 2vw;
    --font-famil: 'Poppins', sans-serif;
    --font-famil-btn: 'Montserrat', sans-serif;

}


/* Base */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: -5;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-black);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* container */
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.section-head {
    margin-top: 50px;
    text-align: center;
}

.section-head-title {
    font-size: var(--font-size-head);
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: var(--font-famil);
    margin-bottom: 3vw;
}



/* header */
.tm-div {
    display: none;
}

.tm-div-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.team-btn {
    flex: 1;
    padding: 10px 14px;
    text-align: center;
    color: var(--text-color);
    margin: 5px;
    text-transform: uppercase;
    font-size: var(--font-size-btn);
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-black);  
    border: 2px solid hsl(0, 100%, 98%);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 4px 4px #393939;
}

@media (max-width: 900px) {
    .tm-div-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

.team-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.team-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.active {
    color: var(--text-color);
    background-color: var(--bg-dark-gray);
}

/* images */

.image-container {
    text-align: center;
    
}

.image {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    width: 20vw;
}


.aju {
    width: 90%;
}

@media (max-width: 900px) {
    .image {
        width: 38vw;
    }

}

@media screen and (min-width: 1701px) {
    .image {
        margin: 0;
        width: 13vw;
    }
}


/* overlay */
/* Add this CSS for overlay effect */
.image:hover .image-overlay {
    opacity: 1;
}

.image-overlay {
    position: relative;
    width: 80%;
    top: -4vh;
    left: 4vh;
    background: #393939;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
    max-width: 80%;
    vertical-align: middle;
    color: var(--text-color);
}

.performers-info {
    padding: 5px 10px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -5px;
    z-index: 1;
  }

  .performers-backdrop {
    background-color: #393939;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .performers-name {
    color: hsl(0, 0%, 0%);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
  }

  .performers-job {
    text-transform: capitalize;
    font-size: 10px;
    text-align: center;
  }

/* Optional: Add styles for the overlay text */
.image-overlay p {
    font-size: 15px;
    color: #FFFFFF;
    /* Adjust the font size as needed */
}

/* member div*/
.mem-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 10px;
}

.aal {
    text-transform: uppercase;
    flex: 1;
    padding: 30px;
    background-color: var(--border-color);
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #393939;
    box-shadow: 4px 4px #393939;
    color: var(--text-color);
    font-size: var(--font-size-mem);
}


.aal:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

@media (max-width: 720px) {
    .names {
        font-size: 25px;
    }
}
