/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@font-face {
    font-family: Anek-Malayalam;
    src: url(../webfonts/AnekMalayalam-VariableFont_wdth\,wght.ttf);
}

/* Variables */
:root {
    /* bg colors */
    --bg-black: hsl(42, 26%, 77%);
    --bg-dark-gray: hsl(345, 90%, 60%);

    /* border colors */
    --border-color: hsl(42, 40%, 87%);

    /* text color */
    --text-color: hsl(0, 0%, 0%);

    /* fonts */
    --font-size-head: clamp(27px, 4vw, 50px);
    --font-size-image: ;
    --font-size-mem: 15px;
    --font-size-btn: 4vw;
    --font-famil: 'Black Ops One', system-ui;
    --font-famil-btn: 'Montserrat', sans-serif;

}


/* Base */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-black);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* container */
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.section-head {
    margin-top: 50px;
    text-align: center;
}

.section-head-title {
    font-size: var(--font-size-head);
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: var(--font-famil);
    margin-bottom: 3vw;
}



/* header */
.tm-div {
    display: none;
}

.tm-div-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.team-btn {
    flex: 1;
    padding: 10px 14px;
    text-align: center;
    color: hsl(39, 84%, 10%);
    margin: 5px;
    text-transform: uppercase;
    font-size: var(--font-size-btn);
    font-family: fantasy;
    font-weight: 200;
    background-color: var(--bg-black);  
    border: 2px solid hsl(41, 39%, 29%);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 4px 4px hsl(41, 39%, 29%);
}

@media (max-width: 900px) {
    .tm-div-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

.team-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.team-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.active {
    color: var(--text-color);
    background-color: var(--bg-dark-gray);
}

/* images */

.image-container {
    text-align: center;
}

.image {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    width: 20vw;
}

.image.middle {
    margin-top: -20px;
    /* Adjust the value to control the vertical position */
}

.aju {
    width: 90%;
}

@media (max-width: 900px) {
    .image {
        width: 25vw;
    }

    .aju {
        width: 100%;
    }
}


/* overlay */
/* Add this CSS for overlay effect */
.image:hover .image-overlay {
    opacity: 1;
}

.image-overlay {
    position: relative;
    top: -7vw;
    left: 1vw;
    width: 90%;
    min-height: 0vw;
    background: var(--border-color);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    transition: opacity 0.3s ease;
    max-width: 100%;
    vertical-align: middle;
    color: var(--text-color);
}

/* Optional: Add styles for the overlay text */
.image-overlay p {
    font-size: 18px;
    /* Adjust the font size as needed */
}

/* Optional: Adjust the overlay positioning */
.image-overlay.middle {
    margin-top: -20px;
}

/* member div*/
.mem-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 10px;
}

.aal {
    text-transform: uppercase;
    flex: 1;
    padding: 30px;
    background-color: var(--border-color);
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid hsl(41, 39%, 29%);
    box-shadow: 4px 4px hsl(41, 39%, 29%);
    color: hsl(39, 84%, 10%);
    font-size: var(--font-size-mem);
}


.aal:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

@media (max-width: 720px) {
    .names {
        font-size: 25px;
    }
}
