html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::before,::after{
    box-sizing: border-box;
}

:root{
    --cardwidth: 300px;
    --cardheight: 150px; 
    --bgwidth:288px;
    --bgheight:238px;
    --section-p: 80px;
}
.container{
    max-width: 100dvw;
    margin: auto;
    padding: 0 15px;
}
/* card area */

.card {
    position: relative;
    width: var(--cardwidth);
    height: var(--cardheight);
    border-radius: 14px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }

.card-div{
    display: flex;
    flex-flow: column wrap;
    height: 25rem;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}

.our{
    width: 40%;
    height: 40%;
    margin-bottom: 5%;
}

@media (min-width:600px){
    .our{
        margin: 20px;
    }
}
